@import "../../../styles/common";

.spinner {
    display: inline-block;
    $self: &;
    &_indeterminate {
        animation: CircularRotate 1.4s linear infinite;
        #{$self}__circle {
            animation: CircularDash 1.4s ease-in-out infinite;
            stroke-dasharray: 80px, 200px;
            stroke-dashoffset: 0;
        }
    }
    &_static {
        transition: transform .2s ease-in-out;
        #{$self}__circle {
            transition: stroke-dashoffset .2s ease-in-out;
        }
    }
    &_disable-shrink {
        #{$self}__circle {
            animation: none;
        }
    }
    &__svg {
        display: block;
    }
    &__circle {
        width: 100%;
        height: 100%;
        stroke: currentColor;
    }
}

@keyframes CircularRotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes CircularDash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }
    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}