
$font-size-base: 1rem;
$loading-spinner-size: $font-size-base * 1.1;

$border-radius: 5px;

$default-background-color: #fff;
$danger-color: #e53b3b;
$text-color: #1a1a1a;
$primary-color: #6805F2;
$light-color: #e2e2e2;